body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #40a8c4;
  color: white;
}

h1 {
  margin: 50px auto;
  font-family: 'Kaushan Script', cursive;
  font-size: 5.3125rem;
  color: #ffc93c;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: #ffc93c;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #07689f;
}

a {
  color: #ffc93c;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #a2d5f2;
}

p {
    line-height: 2;
}

.top-container {
  background-color: #07689f;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  left: 900px;
  top: 50px;
}

.profile-img {
  border-radius: 50%;
  width: 15%;
  padding: 50px;
}

.subtitle {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;


}

.coding-img {
  float: left;
  padding-right: 30px;
}

.cooking-img {
  float: right;
  padding-left: 30px;
}

.short-description {
  width: 30%;
  margin: auto;
}

hr {
  border: 10px dotted #07689f;
   border-style: none none dotted;
   color: #fff;
   background-color: #40a8c4;
   margin: 100px 720px;
}

.contact-text {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #07689f;
  padding: 50px 0 20px;
  margin-top: 50px;
}

.footer-link {
  margin: 40px 30px 60px;
}

.copyright {
  padding: 20px 0;
  color: #a2d5f2;
}

.btn {
  margin: 100px;
}
